@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Playfair Display", sans-serif;
}
html {
  scrollbar-color: #c11d1d #ffffff;
  scroll-padding-top: 75px;
}
.jumbotron {
  background-color: #c11d1d;
  text-align: center;
  padding: 60px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 1px 2px 3px rgb(138, 128, 128);
}

.jumbotron p {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  margin: auto;
  text-align: center;
}

.jumbotron h1:hover {
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  padding: 3px;
  transition: 300ms;
}

h2,
h3 {
  color: rgb(255, 255, 255);
}

p {
  text-align: justify;
  margin: auto;
}

.gambar-artikel {
  width: 250px;
  max-height: 225px;
  object-fit: cover;
  object-position: center;
}

.gambar-dokum {
  width: 250px;
}

main {
  padding: 20px;
}

.card {
  box-shadow: 1px 4px 8px rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #c11d1d;
}

header {
  display: inline;
}

nav {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

body nav ul li {
  text-align: center;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  color: rgb(254, 254, 254);
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: 300ms;
}

nav ul li a:hover {
  transition-timing-function: ease;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  gap: 30px;
  flex-direction: row-reverse;
}

.lemper input {
  border: none;
  border-radius: 6px;
  padding: 5px;
  box-shadow: inset 0 1px 8px rgba(223, 14, 14, 0.407);
  padding: 5px;
}

button {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: rgba(152, 152, 152, 0.584);
}

button:hover {
  transition: 1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.34);
}

#content {
  flex-grow: 6;
}

aside {
  flex-grow: 1;
  margin: auto;
}

header {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  padding: 3px;
}

footer {
  padding: 20px;
  background-color: #ff5757;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* untuk hp */
@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    flex-direction: column;
  }

  nav {
    text-align: center;
  }
  aside {
    text-align: center;
  }
}

/* untuk tablet */
@media screen and (min-width: 768px) and (max-width: 1230px) {
  main {
    flex-direction: column;
  }

  nav {
    text-align: center;
  }
  aside {
    text-align: center;
  }
}
